<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sudokuloader">

    <application>
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity android:name=".DifficultyMenuActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            />
        <activity android:name=".MainMenuActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            />
        <activity android:name=".GameActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            />

        <activity android:name=".LadderboardActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            />
        <activity android:name=".SaveAchievementActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            />

    </application>

</manifest>